.profile__edit-button {
  width: 40px;
  height: 40px;
  font-size: 0;
  padding: 8px;
  border: none;
  background: transparent;
  margin: 6px 0 0 10px;
  background-image: url(../../../images/Edit-button-L.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (max-width: 768px) {
  .profile__edit-button {
    margin: 0;
    position: absolute;
    width: 38px;
    height: 38px;
    right: -8px;
    top: 30px;
    background-image: url(../../../images/Edit-button-M.svg);
  }
}

@media screen and (max-width: 425px) {
  .profile__edit-button {
    width: 34px;
    height: 34px;
    top: 26px;
    background-image: url(../../../images/Edit-button-S.svg);
  }
}