.page {
  min-width: 320px;
  background: #000;
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased; /* сглаживание */
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; /* подгонка шрифтов */
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility; /* лигатуры и кёрнинг */
  width: 100%;
  padding: 0 24px;
  box-sizing: border-box;
}

@media screen and (max-width: 425px) {
  .page{
    padding: 0;
  }
}